<div ng-init="load()">
    <div class="row"><!-- Links Painel  -->
        <div class="col-md-12 menu-content">
            <ul>
                <li class="ativo"><a href="#">Estatisticas</a></li>
                <li><a href="#">Mensagens</a></li>
                <li><a href="#">Social</a></li>
            </ul>
        </div>
    </div><!-- FIM Links Painel  -->
    <div class="row"><!-- Conteudo painel  -->
        <div class="col-md-12 content-admin">
            <h1>Acho mesmo que eu faria café?</h1>
            <h4>Sabe de nada inocente... tchu tchu tchu tchu Pah!</h4>

        </div>
    </div><!-- FIM Conteudo painel  -->
</div>