<div ng-init="load()">
    <div class="row"><!-- Links Painel  -->
        <div class="col-md-12 menu-content">
            <ul>
                <li class="ativo"><a href="#">Estatisticas</a></li>
                <li><a href="#">Mensagens</a></li>
                <li><a href="#">Social</a></li>
            </ul>
        </div>
    </div><!-- FIM Links Painel  -->
    <div class="row"><!-- Conteudo painel  -->
        <div class="col-md-12 content-admin dashboard">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <div class="panel-icon color-inscritos">
                            <span class="fa fa-users color-inscritos"></span>
                        </div>
                        <div class="numeros">
                            <p><span>57</span><br />Inscritos</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="panel-icon color-facebook">
                            <span class="fa fa-facebook-square color-facebook"></span>
                        </div>
                        <div class="numeros">
                            <p><span>57</span><br />Curtidas</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="panel-icon color-twitter">
                            <span class="fa fa-twitter-square color-twitter"></span>
                        </div>
                        <div class="numeros">
                            <p><span>57</span><br />Seguidores</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="chart-area" width="500" height="100"/>
                </div>
                <div class="col-md-6"></div>
            </div>

        </div>
    </div><!-- FIM Conteudo painel  -->
</div>