<div ng-init="load()">
    <div class="row"><!-- Links Painel  -->
        <div class="col-md-12 menu-content">
            <div class="col-md-6">
                <ul>
                    <li class="ativo"><a href="#">Novo</a></li>
                    <li><a href="#">Excluir</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2"><span class="fa fa-search"></span></span>
                </div>                
            </div>
            <br class="clear"/>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Escolha um menu</strong></p>
                    <select class="form-control">
                        <option>Menu Home</option>
                        <option>Menu Blog Sidebar</option>
                    </select>                    
                </div>
            </div>
        </div>
    </div><!-- FIM Links Painel  -->
    <div class="row"><!-- Conteudo painel  -->
        <div class="col-md-12 content-admin">
            <div class="row link-menu-admin">
                <div class="col-md-10"><p>Home</p></div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div class="row link-menu-admin">
                <div class="col-md-10"><p>Empresa</p></div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div class="row link-menu-admin">
                <div class="col-md-10"><p>Galeria</p></div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div class="row link-menu-admin">
                <div class="col-md-10"><p>Portfolio</p></div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div class="row link-menu-admin">
                <div class="col-md-10"><p>Contato</p></div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
        </div>
    </div><!-- FIM Conteudo painel  -->
</div>